
<div id="cache_pictures">
   <img src="/flixrmi/images/rating_star_Predicted.png"/>
   <img src="/flixrmi/images/icons.png"/>
   <img src="/flixrmi/images/rating_dot.png"/>
   <img src="/flixrmi/images/rating_star.png"/>
   <img src="/flixrmi/yui/build/menu/assets/skins/sam/menuitem_submenuindicator.png"/>
   <img src="/flixrmi/yui/build/menu/assets/skins/sam/menuitem_checkbox.png"/>
   <img src="/flixrmi/yui/build/treeview/assets/skins/sam/treeview-sprite.gif"/>
   <a href="http://mediaplayer.yahoo.com/example3.mp3" class="playlist_link"  type="audio/mpeg" >test 1</a>
</div>   