<div id="limitContainer">
  <div id="limitDialog" class="dialog">
    <img src="/flixrmi/images/item_graph.jpg"/>
    <p id="graphCaption">Test resaults taken from: Windows 7, Firefox 9</p>
    <div id="itemLimitContainer">
    <div>Total Item Limit</div>
    <%= text_field_tag "itemLimit", @itemLimit, { :class => "itemLimit"} %>
    <div class="instr">Press enter to conutine.</div>
    </div>
  </div>
</div>