
<div class="scrollAutoContainer" title="Set Speed Here.">
  <div id="scrollAuto_bg" class="yui-h-slider pageSlider">
    <div id="scrollAuto_thumb" class="yui-slider-thumb">
      <img src="/flixrmi/images/Silder_assets/thumb-n.gif">
    </div>
  </div>
</div>