<span id="bulksearchControl" title="Click for Bulk Search"></span>
<span id="ThumbSlider" ></span>
<div class="ThumbIcon" id="ThumbIcon" title="Scale Thumbnails Here">
  <div class="ThumbContainer">
    <div id="ThumbSlider_bg" class="yui-h-slider pageSlider">
      <div id="ThumbSlider_thumb" class="yui-slider-thumb">
        <img src="/flixrmi/images/Silder_assets/thumb-n.gif">
      </div>
    </div>
  </div>
</div>
<textarea id="bulksearch" title="Search separated by lines"></textarea>
<button id="bulksearchBtn">Search</button>
<span id="searchfield"><%= text_field_tag "Search", nil, { :class => "SearchBlur"} %></span>
<div id="Search_AC_Container"  class="yui-ac-input SearchBlur"></div>